<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel = "icon" href = "{{url_for('static', filename='blockchain.png')}}"
        type = "image/x-icon"> 
    <title>Auction | {{ index }}</title>
    <style>
        body {
            background-image: linear-gradient(60deg, rgb(100, 53, 201), #292341);
            background-attachment: fixed;
        }

        .way-big{
            font-size: 60px !important;
        }
    </style>
</head>

<body>
    <div class="ui inverted violet  menu">
        <div class="item">
            <h3>🎆</h3>
        </div>
        <a href="/" href="#" class="item">
            Home
        </a>
        <a href="#" class="item">
            Auctions
        </a>
        <a href="transaction/0" class="item">
            Completed
        </a>
        <div class="right menu">
            <div class="ui item">
                <div class="ui compact violet inverted menu">
                    <div class="ui simple inverted violet dropdown item">
                        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/large/justen.jpg">
                        <span>Hi 👋 Jofin</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="header">Signed in as | Justen</div>
                            <div class="ui divider"></div>
                            <div class="item">
                                <button class="ui inverted purple button">😎 | 🎧 | 💻</button>
                            </div>
                            <div class="ui divider"></div>
                            <div class="ui inverted item">
                                <i class="user icon"></i>Profile
                            </div>
                            <div class="ui inverted item">
                                <i class="folder icon"></i>My Wallet
                            </div>
                            <div class="ui inverted item">
                                <i class="users icon"></i>History
                            </div>
                            <div class="ui divider"></div>
                            <div class="header">New</div>
                            <div class="item">
                                <i class="plus icon"></i>Auction
                            </div>
                            <div class="item">
                                <i class="plus icon"></i>Bid
                            </div>
                            <div class="ui divider"></div>
                            <div class="item">
                                <i class="qrcode icon"></i>Share profile
                            </div>
                            <div class="item">
                                <i class="question circle icon"></i>Help
                            </div>
                            <div class="item">
                                <i class="settings icon"></i>Settings
                            </div>
                            <div class="item">
                                <i class="frown icon"></i>Logout
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container grid stackable centered computer only">
        <div class="row">
            <div class="ui item">
                {% if details['s'] == 1 %}
                <img class="ui medium rounded image" src="{{url_for('static', filename='vase.png')}}">
                {% endif %}
                {% if details['s'] == 2 %}
                <img class="ui medium rounded image" src="{{url_for('static', filename='starry-night.png')}}">
                {% endif %}
                {% if details['s'] == 3 %}
                <img class="ui medium rounded image" src="{{url_for('static', filename='old-car.png')}}">
                {% endif %}
                {% if details['s'] == 4 %}
                <img class="ui medium rounded image" src="{{url_for('static', filename='watch.png')}}">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="ui inverted teal header">
                <h1>{{ details['name'] }}</h1>
                <div class="ui divider"></div>
                <h5><i>{{ details['des'] }}</i></h5>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <div class="ui statistics">
                <div class="ui blue inverted statistic">
                    <div class="value">
                        <i class="user icon"></i> {{ details['auctioneer'] }}
                    </div>
                    <div class="label">
                        Auctioneer
                    </div>
                </div>
                <div class="ui blue inverted statistic">
                    <div class="value">
                        <i class="file icon"></i> {{ details['hash'] }}
                    </div>
                    <div class="label">
                        hash
                    </div>
                </div>
                <div class="ui blue inverted statistic">
                    <div class="value">
                        <i class="microphone icon"></i> {{ details['audience'] }}
                    </div>
                    <div class="label">
                        Audience
                    </div>
                </div>
                <div class="ui blue inverted statistic">
                    <div class="value">
                        <i class="flag icon"></i>
                        {{ details['bidders'] }}
                    </div>
                    <div class="label">
                        Bidders
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui container grid stackable centered computer only">
        <div class="row">
            <div class="ui inverted white header">
                <h1>Real Time Info</h1>
            </div>
        </div>
        <div class="row">
            <div class="ten wide column">
            <div class="ui inverted violet segment">
            <table class="ui inverted very basic collapsing celled table">
                <thead>
                    <tr>
                        <th>Time <i class="clock outline icon"></i></th>
                        <th>Bid</th>
                        <th>Bidder</th>
                        <th>Public Signature</th>
                        <th>Call</th>
                    </tr>
                </thead>
                <tbody>

                    {% for dat in data %}
                    <tr>
                        <td>
                            <h4 class="ui inverted header">
                                {{ dat['date'] }}
                            </h4>
                        </td>

                        <td>
                            <i class="yellow rupee sign icon"></i>{{ dat['bid'] }}
                        </td>
                        <td>
                            <i class="blue user outline icon"></i>{{ dat['bidder'] }}
                        </td>
                        <td>
                            <i class="green linkify icon"></i> {{ dat['public_key'] }}
                        </td>
                        <td>
                            <div class="ui mini horizontal divided list">
                                {% for i in range(dat['calls']) %}
                                <div class="item">
                                    <div class="header">
                                     <h3><i class="orange gavel icon"></i></h3>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            </div>
            <div class="six wide column">
                <div class="ui inverted violet center aligned segment">
                    <h2 class="ui header">
                    <i class="hand point up icon"></i>
                    <div class="content">
                        Place your Bid
                    </div>
                    </h2>
                    <a class="ui blue image large label">
                    <i class="rupee sign icon"></i>
                        Highest Bid
                        <div class="detail">{{ data[0]['bid'] }}</div>
                    </a>
                    <div class="ui divider"></div>
                    <div class="ui right labeled huge input">
                    <label for="amount" class="ui teal label"><i class="rupee sign icon"></i></label>
                    <input type="text" placeholder="Amount (in crores)" value="" id="amount">
                    <div class="ui teal label">cr</div>
                    </div>
                    <div class="ui divider"></div>
                    <button onclick="get()" class="ui centered green animated fade large button" tabindex="0">
                        <div class="visible content">Place!</div>
                        <div class="hidden content">
                            <h3><i class="white gavel icon"></i></h3>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $(() => {
            $('#example1').progress('');
            $('#example2').progress('');
            $('#example3').progress('');
            $('#example4').progress('');
        })
        $(() => {
            $('.ui.rating')
                .rating();

        })
        $(() => {
            $('.ui.basic.modal')
                .modal('show');
        })
    </script>
    <script>
        
        function get() {
            var data = document.getElementById('amount').value
            fetch(`http://localhost:5000/new/{{ index }}/` + data)
            .then(() => {
                window.location.href = `http://localhost:5000/auctions/{{ index }}`,true;
                
            })
            .catch((error) => {
                console.log('Error:', error);
            });
        }
        
    </script>
</body>

</html>